@{
    ViewData["Title"] = "Archive";
    var pasteData = (List<string>)ViewData["lista"];
}

<h2>@ViewData["Title"].</h2>


@for (int i = 0; i < pasteData.Count(); i++)
{
    @Html.Raw("</br><p>----------------------------</p><pre>");
    @pasteData[i];
    @Html.Raw("</pre>");
}
