@{
    ViewData["Title"] = "Who am I?";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>My email:</strong> my {at} email (dot) com<br />
    <strong>My name:</strong> D.S. <br />
    <strong>What I do:</strong> I'm a physics student trying to get into the world of programming.
</address>
