@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="panel panel-primary">
    <div class="panel-heading" align="center">
        <h1>SharpScraper</h1><br />

    </div>

</div>
<img src="images/pastebin.png"  style="float: left; margin: 0px 0px 55px 125px;" class="img-rounded" alt="Pastebin Logo" width="304" height="236">
<br />

<h3 align="left"> A Pastebin scraper written in C#. </h3> <br />
<h4 align="left">Look up the latest pastes found in the "archive" page! </h4>

